# dependencies
/node_modules
/yarn.lock
/pnpm-lock.yaml

# editor
.idea
.vscode
.hbuilderx

# production
/build
/dist
/unpackage

# misc
.DS_Store
.history

# logs
/*.log
/npm-debug.log
/yarn-error.log
